.c-mood-content {
  padding-top: 117px;
  letter-spacing: 0.9px;
}

.c-mood-header {
  margin-bottom: 47px;
  font-feature-settings: 'palt';
  h1 {
    color: #324851;
    font-family: serif;
    font-size: 20px;
    margin-bottom: 10px;
    br {
      display: none;
    }
    @media #{$large-mobile} {
      line-height: 1.6;
      br {
        display: block;
      }
    }
  }
  h2 {
    color: #324851;
    font-size: 15px;
    font-family: 'Mr De Haviland';
    margin: 0;
  }
}

.c-mood-text {
  font-family: 'A1 Gothic R';
  font-size: 14px;
  line-height: 3;
  padding: 0 2vw;
  font-feature-settings: 'palt';
  p.text {
    color: #513b32;
    margin-bottom: 30px;
    &.with-divider {
      margin-top: 38px;
    }
  }
  .side {
    font-size: 11px;
    margin-bottom: 50px;
    color: #818181;
    line-height: 1.8;
    margin-top: 47px;
    span {
      font-size: 20px;
      display: block;
      font-family: 'Mr De Haviland';
    }
  }
  .divider {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 15px;
  }
  .date {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin-top: 40px;
    margin-bottom: 4px;
  }
  .by {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 108px;
    letter-spacing: 3px;
  }
}
