.c-mood-index {
  font-family: 'A1 Gothic R';
  padding-bottom: 80px;
  .divider {
    text-align: center;
    font-size: 12px;
    padding: 80px 0 100px;
    @media #{$large-mobile} {
      padding: 30px 0;
    }
  }
}

.c-mood-description {
  font-size: 14px;
  width: 700px;
  margin: 0 auto;
  padding: 100px 0 0;
  line-height: 2;
  font-feature-settings: 'palt';
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 20px;
  @media #{$large-mobile} {
    width: 100%;
    font-size: 12px;
    padding: 40px 10px 0;
    margin-bottom: 0px;
  }
}

.c-mood-content {
  padding-top: 57px;
  letter-spacing: 0.9px;
}

.c-mood-thumbnail {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 40px;
  @media #{$large-mobile} {
    width: 100%;
    margin-bottom: 10px;
  }
  img {
    display: block;
    width: 100%;
  }
  h1 {
    font-feature-settings: 'palt';
    font-family: 'Open Sans', sans-serif;
    font-family: serif;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .by {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
  }
}

.c-mood-header {
  margin-bottom: 47px;
  font-feature-settings: 'palt';
  &.with-divider {
    margin-top: 138px;
  }
  h1 {
    color: #324851;
    font-family: serif;
    font-size: 20px;
    margin-bottom: 10px;
    br {
      display: none;
    }
    @media #{$large-mobile} {
      line-height: 1.6;
      br {
        display: block;
      }
    }
  }
  h2 {
    color: #324851;
    font-size: 15px;
    font-family: 'Mr De Haviland';
    margin: 0;
  }
}

.c-mood-text {
  font-family: 'A1 Gothic R';
  font-size: 16px;
  line-height: 3;
  padding: 0 2vw;
  font-feature-settings: 'palt';
  @media #{$large-mobile} {
    font-size: 16px;
  }
  p.text {
    color: #513b32;
    margin-bottom: 30px;
    &.with-divider {
      margin-top: 38px;
    }
  }
  .side {
    font-size: 11px;
    margin-bottom: 50px;
    color: #818181;
    line-height: 1.8;
    margin-top: 47px;
    span {
      font-size: 20px;
      display: block;
      font-family: 'Mr De Haviland';
    }
  }
  .divider {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 15px;
  }
  .date {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin-top: 40px;
    margin-bottom: 4px;
  }
  .by {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 108px;
    letter-spacing: 3px;
  }
}
