/* Color */
$black: #141414;
$white: #fff;
$mainColor: #546382;

/* Text */
$text-color-base: $black;
$title-color-base: $black;

/* Link */
$link-color-base: $black;
$link-hover-color-base: $black;

/* Border */

/* $border-color-base  : $black-light
$border-color-black  : $black
$border-color-green  : $green */
